@charset "utf-8";
@media (max-width: 1023px) {
    /* banner */
    .banner .wrap{
        width: 100%;
    }

    /* page */
    .page{
        width: 100%;
        padding: 0 50px;
    }

    /* vision */
    .vision{
        width: 100%;
    }
    .vision .wrap{
        width: 100%;
        padding: 0 50px;
    }

    /* management */
    .management .wrap{
        width: 100%;
        height: 500px;
        padding: 0 50px;
    }
    .management .wrap .boxs{
        width: 100%;
        background-size:contain;
        background-repeat: no-repeat;
        margin-top: 20px;
    }
    .management .wrap .boxs .box {
        height: 300px;
    }
    .management .wrap .boxs .box.txt_part h2{
        font-size: 24px;
    }
    .management .wrap .boxs .box .txt_part h1{
        font-size: 13px;
    }

    .management .wrap .boxs .box .txt_part p{
        display: none;
    }

    /* management => mobile */
    .management .wrap .mobile{
        display: block;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .management .wrap .mobile .mobile_box{
        width: calc(100% / 3 - 10px);
    }
    .management .wrap .mobile .mobile_box p{
        font-size: 14px;
        color: #888;
        text-align: center;
    }
    article .top_btn img{
        position:static;
        margin: 0 auto;
    }

}
@media (max-width: 767px){
    .banner{
        height: 200px;
    }
    .banner .wrap p{
        width: 100%;
        padding: 0 20px;
        font-size: 18px;
        line-height: 200px;
    }
    .page{
        display: none;
    }

    /* vision */
    .vision .wrap{
        width: 100%;
        padding: 0 30px;
    }
    .vision .wrap .txt_part .txt1{
        line-height: 25px;
    }
    /* management */
    .management .wrap{
        height: 1300px;
    }
    .management .wrap .title p{
        font-size: 20px;
    }
    .management .wrap .boxs{
        flex-direction: column;
        background-image: url(../img/info/img_2.png);
        background-size: contain;
        background-position: 50% 50%;
    }
    .management .wrap .boxs .box{
        width: 100%;
        height: 400px;
    }
    .management .wrap .boxs .box .txt_part p{
        display: block;
        font-size: 14px;
    }
    .management .wrap .mobile{
        display: none;
    }

    
}