@charset "utf-8";

@media (max-width: 1023px) {
    .slide{
        height: 600px;
        margin-top: 90px;
    }
    .slide .slider_inner ul li .wrap .txt_part{
        padding: 0 50px;
        width: 100%;
    }
    .slide .slider_inner ul li .wrap .txt_part .title{
        font-size: 60px;
    }
    .slide .slider_inner ul li .wrap .txt_part .sub_title{
        font-size: 60px;
    }
    .slide .slider_inner ul li .wrap .txt_part .plustext{
        font-size: 40px;
    }
    .slide .slider_inner ul li .wrap .txt_part .p2{
        display: none;
    }
    .slide .slider_inner ul li .wrap .txt_part .button a{
    }
    .slide .slide_bottom .bottom_inner{
        padding: 0 50px 30px;
    }
    /* ourbusiness */
    #ourbusiness{
        padding-bottom: 300px;
    }
    #ourbusiness .wrap{
        width: 100%;
        padding: 0 40px;
    }

    #ourbusiness .wrap .boxs .box{
        width: calc(100% / 2 - 20px);
        margin: 0 10px;
    }
    /* #ourbusiness .wrap .boxs .box .bottom p{
        font-size: 14px;
        line-height: 30px;
    } */

    /* middle_banner */
    #middle_banner{
        width: 100%;
    }
    #middle_banner .boxs{
        height: 300px;
    }

    /* hanwha_story */
    #hanwha_story{
        padding-top: 50px;
    }
    #hanwha_story .wrap{
        width: 100%;
        padding: 0 30px;
    }
    #hanwha_story .wrap .title{
        padding-bottom: 20px;
    }
    #hanwha_story .wrap .title p{
        color: #555;
    }
    #hanwha_story .wrap .boxs{
        margin-top: 40px;
    }
    #hanwha_story .wrap .boxs .story{
        height: 430px;
    }
    #hanwha_story .wrap .boxs .story .story_img{
        height: 180px;
    }
    #hanwha_story .wrap .title h1{
        margin-bottom: 5px;
    }

    /* dreamBanner */
    #dreamBanner{
        height: 300px;
    }

    /* society */

    #society .boxs{
        width: 100%;
        height: 600px;
        padding: 0 30px;
    }
    #society .boxs .society_box{
        width: calc(50% - 20px);
        height: 200px;
        margin-bottom: 10px;
    }
    #society .boxs .society_box .more_box{
        display: none;
    }
    #society .boxs .society_box:nth-child(4){
        margin-top: 0;
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    #society .boxs .society_box:nth-child(4) .more_box{
        display: block;
        width: 100%;
        height: 40px;
        border: 1px solid #888;
        padding: 15px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    #society .boxs .society_box:nth-child(4) .more_box p{
        font-size: 16px;
        color: #555;
        margin: 0 auto;
    }
    #society .boxs .society_box:nth-child(4) .more_box img{
        display: block;
        height: 20px;
    }
    article .top_btn img{
        position:static;
        margin: 0 auto;
    }
    
}


@media (max-width: 767px){
    .slide{
        height: 400px;
    }
    .slide .slider_inner ul li .wrap .txt_part .title{
        font-size: 30px;
    }
    .slide .slider_inner ul li .wrap .txt_part .sub_title{
        font-size: 40px;
    }
    .slide .slider_inner ul li .wrap .txt_part .plustext{
        font-size: 25px;
    }
    .slide .slider_inner ul li .wrap .txt_part .p2{
        display: none;
    }
    /* ourbusiness */
    #ourbusiness{
        padding-bottom: 830px;
    }
    #ourbusiness .wrap{
        padding: 0 20px;
    }
    #ourbusiness .wrap .title{
        font-size: 34px;
        padding-bottom: 10px;
    }
    #ourbusiness .wrap .sub_title{
        font-size: 13px;

    }
    #ourbusiness .wrap .boxs .box{
        width: 100%;
    }
    #ourbusiness .wrap .boxs .box .bottom p{
        font-size: 13px;
        line-height: 23px;
    }

    /* middle_banner */
    #middle_banner .boxs{
        height: 180px;
    }
    #middle_banner .boxs .box{
        width: calc(100% / 2);
    }
    #middle_banner .boxs .box:last-child{
        display: none;
    }

    /* hanwha_story */
    #hanwha_story .wrap{
        padding: 0 10px;
    }

    #hanwha_story .wrap .title h1{
        font-size: 34px;
    }
    #hanwha_story .wrap .title p{
        font-size: 13px;
    }
    #hanwha_story .wrap .boxs{
        margin-top: 30px;
    }
    #hanwha_story .wrap .boxs .story{
        width: 50%;
        height: 200px;
    }
    #hanwha_story .wrap .boxs .story .story_img{
        height: 100px;
    }
    #hanwha_story .wrap .boxs .story .txt_part{
        margin-top: 10px;
        line-height: 20px;
    }
    #hanwha_story .wrap .boxs .story:last-child{
        display: none;
    }
    #hanwha_story .wrap .boxs .story .txt_part .txt_main{
        font-size: 12px;
        font-weight: normal;
    }
    #hanwha_story .wrap .boxs .story .txt_part .txt_sub{
        display: none;
    }

    /* dreamBanner */
    #dreamBanner{
        height: 160px;
    }
    #dreamBanner .txt_part{
        padding: 20px 0;
    }
    #dreamBanner .txt_part .logo img{
        width: 120px;
        height: 40px;
        padding-bottom: 10px;
    }
    #dreamBanner .txt_part p{
        font-size: 22px;
        padding-bottom: 0;
    }
    #dreamBanner .txt_part a{
        width: 100px;
        height: 24px;
        font-size: 14px;
        /* font-weight: bold; */
        line-height: 24px;
    }

    /* society */
    #society .boxs{
        width: 100%;
        height: 700px;
        padding: 0 20px;
    }
    #society .boxs .society_box:nth-child(1), #society .boxs .society_box:nth-child(3) {
        width: 50%;
        height: 150px;
        margin: 0;
        padding: 10px;
    }
    #society .boxs .society_box:nth-child(1) .society_txt .img{
        display: none;
    }
    #society .boxs .society_box:nth-child(1) .society_txt .txt span{
        margin-bottom: 5px;
    }
    #society .boxs .society_box:nth-child(1) .society_txt .txt h4{
        margin-bottom: 5px;
        font-size: 16px;
    }
    #society .boxs .society_box:nth-child(1) .society_txt .txt p{
        font-size: 12px;
    }
    #society .boxs .society_box:nth-child(1) .society_txt .txt h3{
        display: none;
    }

    #society .boxs .society_box:nth-child(2) .society_txt{
        padding: 0 60px;
    }

    #society .boxs .society_box:nth-child(3) .society_txt span{
        margin-bottom: 5px;
    }
    #society .boxs .society_box:nth-child(3) .society_txt h1{
        margin-bottom: 5px;
        font-size: 16px;
    }
    #society .boxs .society_box:nth-child(3) .society_txt p{
        font-size: 12px;
    }

    #society .boxs .society_box:nth-child(2){
        order: 2;
        width: 100%;
        margin-top: 30px;
    }
    #society .boxs .society_box:nth-child(4){
        width: 100%;
        order: 4;
        margin-top: 10px;
        justify-content: flex-start;
    }

}